@{
    ViewBag.Title = "Detail";
    Layout ="~/Views/Shared/_Layout.cshtml";
}

<h2>Specification of Mobile</h2>

@foreach (var x in Model)
{




<table>
    <tr>
        <td>
            <img src="~/images/@x.ImageUrl" class="img-thumbnail" alt="Mehtab Rehman" style="width: 300px; height: 300px; margin-left: 5%">
        </td>
        <td>
            <p style="margin-left:15%"><b>Product Id: </b>@x.Id</p>
            <p style="margin-left:15%"><b>Category: </b>@x.Category</p>

            <p style="margin-left:15%"><b>Price: </b>@x.Price</p>
            <p style="margin-left:15%"><b>Memory: </b>@x.Memoy</p>
            <p style="margin-left:15%"><b>Phone Number: </b>@x.Number</p>

            <p style="margin-left:15%">
                <button>Call Now</button>
            </p>
        </td>
    </tr>
</table>
    
}